.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .stopwatch {
    color: white;
    font-size: 65px;
    margin-bottom: 15px;
    font-family: system-ui;
    font-weight: 200;
  }

  button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2.5px solid black;
    box-shadow: 0 0 2px 2px #333333;
    margin: 0 8px;
    font-size: 16px;
    background: #333333;
    color: white;
    outline: none;
  }

  .start {
    background: #0b2911;
    color: #36c96e;
    box-shadow: 0 0 2px 2px darkgreen;
  }

  .stop {
    background: #340e0b;
    color: #e44b4d;
    box-shadow: 0 0 2px 2px darkred;
  }

  .reset {
    background: #e0ac08;
    color: black;
    box-shadow: 0 0 2px 2px darkorange;
  }
}
